/*Обнулення*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

/*--------------------*/

section {
    padding: 50px 0;
}

.wrapper {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 1.1;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 70px;
}

.title {
    font-size: 32px;
    color: #424242;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.featured__slider {
    position: relative;
}

.slider__block {
    display: grid;
    -ms-grid-rows: auto 30px auto;
    -ms-grid-columns: 60% 30px 1fr;
        grid-template:
            'a b' auto
            'a c' auto / 60% 1fr;
        grid-gap: 30px;
}

.area1 {
    grid-area: a;
}
.area2 {
    grid-area: b;
}
.area3 {
    grid-area: c;
}
.area4 {
    grid-area: d;
}
.area5 {
    grid-area: e;
}

.slider__arrows > div {
    width: 60px;
    height: 120px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.arrow__back {
    background-image: url(./icons/back.svg);
    left: -70px;
}

.arrow__next {
    background-image: url(./icons/next.svg);
    right: -70px;
}

.arrow__back:hover {
    background-image: url(./icons/back-hover.svg);
    background-color: #616161;
}

.arrow__next:hover {
    background-image: url(./icons/next-hover.svg);
    background-color: #616161;
}

.slider__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 200px;
    height: 100%;
}

.card {
    overflow: hidden;
    cursor: pointer;
}

.card img{
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
     transition: all 0.4 ease;
}

.card:hover img {
    transform: scale(1.2);
}

 .slider__item:nth-child(4),
 .slider__item:nth-child(5) {
    display: none;
}

.slider__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slider__item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), color-stop(32%, rgba(0, 0, 0, 0.5)), to(transparent));
        background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 32%, transparent 100%);
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 32%, transparent 100%);

}

.active {
    height: 500px ; 
}

.star::after {
    content: url('./icons/star-regular.svg');
    position: absolute;
    width: 20px;
    top: 20px;
    left: 20px;
}

.top::after {
    content: url('./icons/star-solid.svg');
}

.slide__info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
}

.slide__title {
    color: #fff;
    font-weight: 600;
  margin-bottom: 4px;
}

.slide__tags {
    color: rgba(255, 255, 255, 0.66);
    font-size: 12px;
}

.last__banner {
    max-width: 300px;
    width: 100%;
    height: 400px;
    background-color: #a4a4a4;
    color: grey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.last__block, 
.last__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
}


.last__item {
    width: 100%;
    height: 100%;
    min-width: 200px;
    position: relative;
}

.item__img {
    height: 250px;
    overflow: hidden;
    margin-bottom: 10px;
}

.item__img img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
        object-fit: cover;
    -o-object-position: center;
        object-position: center;
    margin-bottom: 10px;
}

.item__title {
    color: #212121;
    font-weight: 600;
    margin-bottom: 4px;
}

.item__tags span {
  color: rgba(66, 66, 66, 0.66);
  font-size: 12px;
}
.loader__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px dashed rgb(3 145 145);
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(1.4)
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

@media screen and (max-width: 680px) {
    .container {
        padding: 0 20px;
    }
     .slider__block {
            grid-template:
                'a a'
                'b c'
                'd e';
        }
        .slider__item:nth-child(4),
        .slider__item:nth-child(5) {
                display: block;
            }

        .slider__item {
            height: 250px;
        }
        .slider__arrows {
            display: none;
            }

        .active {
             height: 370px;
        }                 
        .last__banner {
            display: none;
        }
        }

@media screen and (max-width: 520px) {
    .title {
        font-size: 22px;
        text-align: center;
    }
    .slider__block {
        grid-template: 
             'a'
             'b'
             'c'
             'd'
             'e';
         }
      .active {
         height: 250px;
        }  
     .last__block {
        flex-wrap: wrap;
     }
}